/* Global Styles - DOM */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', san-serif;
    font-size: 18px;
    background-color: #e8e8e8;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'EB Garamond', cursive;
    padding: 8px 0 8px 15px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.15em;
}

button {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 8px 12px;
}

.general-paragraph {
    padding: 8px 28px;
}

/* Header */
header {
    min-height: 250px;
    padding: 28px 0;
}

/* Main */
main {
    padding: 8px 0;
    background-color: #c8c8c8;
}

.title {
    color: #333333;
}

#open-content {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 350px;
    padding: 18px;
}

.open-text {
    padding-right: 28px;
    align-self: center;
}

/* DOM Documents */



/* DOM Dates */


/* Form */
#form-section {
    background-color: lightblue;
    padding: 28px 0;
}

#multi-form {
    width: 80%;
    margin: 0 auto;
    background-color: darkolivegreen;
    color: #e8e8e8;
    border: 2px outset #333333;
    border-radius: 30px;
    padding: 24px;
    margin-top: 16px; /*Remove after js practice*/
}

/* DOM Object */
#dom-hair4 {
    width: 300px;
    height: 150px;
    background-color: aqua;
    margin-left: 25px;
}

/* DOM Events */
#events button, #fsq1-btn {
    margin-left: 25px;
}


/* OFF CANVAS */

.off-canvas-main {
    position: relative;
    background-color: transparent;
}

.off-site-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 14rem;
    margin-left: -14rem;
    background-color: salmon;
    color: turquoise;
}

.site-container{
    padding: 10px;
    width: 80%;
}

.offsite-is-open .off-site-container,
.offsite-is-open .site-container {
    transform: translateX(14rem);
}

.off-site-container a {
    display: block;
    color: turquoise;
}

/* DOM ARRAY */
.array-practice {
    margin-left: 36px;
}

/* Footer */
footer {
   text-align: center;
   padding: 3px 0;
   background-color: #333333;
   color: #e8e8e8;
   font-weight: 700;
   font-size: 1.1em;
}
