/*#region VARIABLES */
/*#endregion*/
/*#region GLOBAL */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", san-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", cursive;
  padding: 8px 0 8px 15px;
}

h1 {
  font-size: 2.5em;
  color: navy;
}

div ~ h1 {
  margin-top: 36px;
}

.paragraph-h1 {
  margin-left: 24px;
  font-size: 24px;
}

h2 {
  font-size: 2em;
  padding-left: 30px;
  color: green;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: bold;
}

.paragraph-h2, .btn-h2 {
  margin-left: 40px;
}

h3 {
  font-size: 1.75em;
  padding-left: 45px;
  color: orange;
}

.paragraph-h3, .form-h3, .btn-h3 {
  margin-left: 50px;
}

h4 {
  font-size: 1.5em;
  padding-left: 55px;
  color: purple;
}

.paragraph-h4, .btn-h4 {
  margin-left: 60px;
}

button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 8px 12px;
}

.center-content, #family-app-form {
  margin-left: auto;
  margin-right: auto;
}

label {
  font-weight: 600;
}

.left-48 {
  margin-left: 48px;
}

/*#endregion*/
/* #region INPUT VALUES */
.value-practice {
  width: 45%;
  padding: 1.75rem;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
}
.value-practice label {
  display: block;
  margin-bottom: 5px;
}
.value-practice input {
  width: 100%;
  padding: 8px;
  margin-bottom: 1.1rem;
}
.value-practice input:last-child {
  margin-bottom: 0;
}

/* #endregion */
/*#region INTERACTIVITY JS */
#calculator-container {
  width: 50%;
  margin: 0 auto;
  padding: 28px;
  border: 1px solid;
  border-radius: 35px;
}
#calculator-container input {
  padding: 8px 12px;
  width: 54.5%;
}
#calculator-container ul {
  list-style-type: none;
  padding: 0;
}

.display-content {
  display: flex;
}

.calculator-content {
  display: grid;
  grid-template-columns: 60% 20%;
  grid-template-rows: 1fr;
}

#numerators {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 1fr;
}

#operators {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
}

#numerators, #operators {
  grid-gap: 5px;
}
#numerators li, #operators li {
  text-align: center;
  padding: 12px;
  border: 1px solid;
}

/* #endregion */
#test-animae {
  background-color: lemonchiffon;
  padding: 24px 48px;
  -webkit-animation-name: animaeBack;
          animation-name: animaeBack;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
#test-animae ul {
  -webkit-animation-name: animae;
          animation-name: animae;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes animae {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animae {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animaeBack {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
@keyframes animaeBack {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
/*#region CALCULATOR APP */
#calculator {
  padding: 1em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
}
#calculator .calc-value {
  width: 100%;
  padding: 5px;
}

#calculator-content {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
}

.numbers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

/*#endregion*/
/*#region SUBSCRIPTION APP*/
/*#endregion*/
/*#region SWITCHY */
.switchy {
  display: flex;
  justify-content: center;
}
.switchy .switchy-form, .switchy .switchy-square {
  width: 40%;
  padding: 1em;
}

/*#endregion*/
/*#region PALINDROME */
/*#endregion*/
/*#region PATTERNS - REGEX */
/*#endregion*/
/*#region FAMILY APP */
#family-app-form {
  width: 90%;
  border: 2px solid olivedrab;
  padding: 28px;
}
#family-app-form input[type=text], #family-app-form select {
  width: 100%;
  padding: 5px 12px;
  margin-bottom: 8px;
  display: block;
}

#family-list {
  display: flex;
}
#family-list p {
  margin-left: 75px;
}

#family-members {
  width: 35%;
  margin-right: 16px;
}

#related-family {
  width: 35%;
}
#related-family h3 {
  margin-left: 0;
  padding: 0;
}

/*#endregion*//*# sourceMappingURL=LearnJS-styles.css.map */